############################
# Build
############################
bin/
obj/
out/

############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Rider
.idea/

############################
# VS Code
.vscode/

############################
# Logs
############################
*.log

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Test Results
############################
TestResults/
*.trx

############################
# Publish
############################
publish/

############################
# Secrets
############################
appsettings.Development.json
secrets.json

############################
# Entity Framework
############################
Migrations/*.Designer.cs